USE SMS; CREATE TABLE FEEDBACKS (FEEDBACK_ID INT AUTO_INCREMENT PRIMARY KEY, RECORD_ID INT NOT NULL, USER_IDNO VARCHAR(50) NOT NULL, FEEDBACK_TEXT TEXT NOT NULL, DATE_SUBMITTED TIMESTAMP DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (RECORD_ID) REFERENCES SIT_IN_RECORDS(RECORD_ID) ON DELETE CASCADE, FOREIGN KEY (USER_IDNO) REFERENCES USERS(IDNO) ON DELETE CASCADE);
