<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('dashboard') }}" class="navbar-logo">Home</a>
            <form action="{{ url_for('logout') }}" method="post">
                <div class="logout">
                <button type="submit" class="navbar-button logout-button">Logout</button>
            </div>
            </form>
        </div>
    </nav>
    
    <div class="dashboard-container">
        <h1>Welcome, {{ firstname }} {{ middlename }} {{ lastname }}!</h1>
        
        <div class="info-box">
            <p><strong>ID:</strong> {{ user_idno }}</p>
            <p><strong>Course:</strong> {{ course }}</p>
            <p><strong>Year:</strong> {{ year }}</p>
            <p><strong>Email:</strong> {{ email }}</p>
            <form action="{{ url_for('edit_info') }}" method="get">
                <button type="submit" class="navbar-button">Edit Info</button>
            </form>
        </div>
    </div>
</body>
</html>
